{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<nav aria-label="Chipset:" role="navigation">
    <ul class="breadcrumbs">
        <li><a href="{% url 'chipsets' %}">{% trans "Chipsets" %}</a></li>
        <li>{{ chipset }}</li>
    </ul>
</nav>

<div class="callout">
    <a href="{% url 'chipset_update' pk=chipset.id %}" class="button small">{% trans "Update" %}</a>
    <a href="{% url 'chipset_delete' pk=chipset.id %}" class="button alert small">{% trans "Delete" %}</a>
    <table class="unstriped">
        <tr>
            <td>{% trans "Vendor" %}:</td>
            <td>{% if chipset.vendor %}{{ chipset.vendor }}{% endif %}</td>
        </tr>
        <tr>
            <td>{% trans "Model" %}:</td>
            <td>{{ chipset.model }}</td>
        </tr>
        <tr>
            <td>{% trans "Type" %}:</td>
            <td>{{ type }}</td>
        </tr>
        <tr>
            <td>{% trans "Description" %}:</td>
            <td>{% if chipset.desc %}{{ chipset.desc }}{% endif %}</td>
        </tr>
        <tr>
            <td>{% trans "Datasheet" %}:</td>
            <td>{% if chipset.datasheet %}<a href="{{ chipset.datasheet.url }}">{{ chipset.filename }}</a>{% endif %}</td>
        </tr>
        <tr>
            <td>{% trans "Created" %}:</td>
            <td>{{ chipset.created_at }} {% if chipset.created_by %}({{ chipset.created_by }}){% endif %}</td>
        </tr>
        <tr>
            <td>{% trans "Last Update" %}:</td>
            <td>{{ chipset.updated_at }} {% if chipset.updated_by %}({{ chipset.updated_by }}){% endif %}</td>
        </tr>
    </table>

    <div class="callout">
        <h5>{% trans "Devices" %}</h5>
        {% if devices %}
        <ul>
            {% for device in devices %}
            <li><a href="{% url 'device_details' pk=device.id tab_id=1 %}">{{ device.model }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>

{% endblock %}
