{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<h4>{% trans "Chipsets" %}</h4>

<a href="{% url 'chipset_create' %}" class="button small">{% trans "Create" %}</a>

<table id="chipsets" class="hover unstriped" style="width:100%">
    <thead>
    <tr>
        <th width="5%">ID</th>
        <th>{% trans "Vendor" %}</th>
        <th>{% trans "Model" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Devices Count" %}</th>
        <th>{% trans "Description" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for chipset in chipsets %}
    <tr data-href="{% url 'chipset_details' pk=chipset.id %}">
        <td>{{ chipset.id }}</td>
        <td>{% if chipset.vendor %}{{ chipset.vendor }}{% endif %}</td>
        <td>{{ chipset.model }}</td>
        <td>{{ chipset.type }}</td>
        <td>{{ chipset.devices_count }}</td>
        <td>{% if chipset.desc %}{{ chipset.desc }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var table = $('#chipsets').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,
        "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
