{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'device_types' %}">{% trans "Device Types" %}</a> &raquo; {{ device_type }}</p>

<div class="grid-x grid-margin-x">
    <div class="cell">
        <div class="card">
            <div class="card-section">
                <a href="{% url 'device_type_update' pk=device_type.id %}" class="button small">{% trans "Update" %}</a>
                <a href="{% url 'device_type_delete' pk=device_type.id %}" class="button alert small">{% trans "Delete" %}</a>
                <table class="unstriped">
                    <tr>
                        <td>ID:</td>
                        <td>{{ device_type.id }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Name" %}:</td>
                        <td>{{ device_type.name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Redmine Project" %}:</td>
                        <td>{% if device_type.redmine_project %}{{ device_type.redmine_project }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Redmine Project Name" %}:</td>
                        <td>{% if device_type.redmine_project_name %}{{ device_type.redmine_project_name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Redmine Parent Project" %}:</td>
                        <td>{% if device_type.redmine_parent %}{{ device_type.redmine_parent }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Created" %}:</td>
                        <td>{{ device_type.created_at }} {% if device_type.created_by %}({{ device_type.created_by }}){% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Last Update" %}:</td>
                        <td>{{ device_type.updated_at }} {% if device_type.updated_by %}({{ device_type.updated_by }}){% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
