{% extends "device/wrapper.html" %}

{% block content %}

<p><a href="/device/" class="exit-off-canvas">&laquo; Назад</a></p>

<h4>Редактирование параметров оборудования</h4>

<form method="post" action="">
    {% csrf_token %}

    <label for="device_type">Тип*:</label>
    <select name="device_type">
        {% for device_type in device_types %}
        <option value="{{ device_type.id }}" id="device_type"
                {% if device_type.id == device.type.id %} selected{% endif %}>{{ device_type.name }}</option>
        {% endfor %}
    </select>

    {{ form }}
    <input type="submit" value="Изменить" class="button small rounded" />
    <a href="/device/export/{{device.id}}" class="button small rounded">Отправить в Redmine</a>
    <a href="/device/delete/{{device.id}}" class="button small alert rounded">Удалить</a>
</form>

{% endblock %}