{% extends "device/wrapper.html" %}

{% block content %}

<p><a href="/" class="exit-off-canvas">&laquo; Назад</a></p>

<h4>Типы оборудования</h4>

<a href="create/" class="button small rounded">Создать</a>

<table class="hover">
    <thead>
    <tr>
        <td>Тип (проект):</td>
        <td>Подтип (тег):</td>
        <td>Описание:</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        {% for type in device_types %}
    <tr>
        <td onclick="window.location.href='/device/type/{{ type.id }}/'; return false">{{ type.main_type }}</td>
        <td onclick="window.location.href='/device/type/{{ type.id }}/'; return false">{{ type.sub_type }}</td>
        <td onclick="window.location.href='/device/type/{{ type.id }}/'; return false">{{ type.name }}</td>
        <td><a href="delete/{{ type.id }}" class="alert button small rounded">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}