<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quality Assurance</title>
    <link rel="stylesheet" href="{% static 'foundation-6.5.1-custom/css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'DataTables/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'rainbow/themes/css/github.css' %}" type="text/css" media="screen">

    <style type="text/css">
    .topcorner {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    </style>
</head>

<body>
  <script src="{% static 'foundation-6.5.1-custom/js/vendor/jquery-3.5.0.js' %}"></script>
  <script src="{% static 'foundation-6.5.1-custom/js/vendor/what-input.js' %}"></script>
  <script src="{% static 'foundation-6.5.1-custom/js/vendor/foundation.js' %}"></script>

  <div class="top-bar">
      <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">Quality Assurance v.1</li>
              {% if user.is_authenticated %}
              <li>
                  <a href="{% url 'devices' %}">{% trans "Devices" %}</a>
                  <ul class="menu vertical">
                      <li><a href="{% url 'device_types' %}">{% trans "Device Types" %}</a></li>
                      <li><a href="{% url 'vendors' %}">{% trans "Vendors" %}</a></li>
                  </ul>
              </li>
              <li><a href="{% url 'testplans' %}">{% trans "Testplans" %}</a></li>
              <li><a href="{% url 'protocols' %}">{% trans "Protocols" %}</a></li>
              <li>
                  <a href="{% url 'docx_templates' %}">{% trans "Templates" %}</a>
                  <ul class="menu vertical">
                      <li><a href="{% url 'docx_template_create' %}">{% trans "Create" %}</a></li>
                  </ul>
              </li>
              <li><a href="{% url 'items' %}">{% trans "Store" %}</a></li>
              <li><a href="{% url 'shipments' %}">{% trans "Shipment" %}</a></li>
              <li>
                  <a href="#">{% trans "Tools" %}</a>
                  <ul class="menu vertical">
                      <li><a href="{% url 'tcp_udp_check' %}">{% trans "Port Forwarding Check" %}</a></li>
                      <li><a href="{% url 'sip_invite' %}">{% trans "Fake SIP Invite" %}</a></li>
                  </ul>
              </li>
              {% endif %}
          </ul>
      </div>

      <div class="top-bar-right">
          <form action="{% url 'set_language' %}" method="post">
              <ul class="menu">
                  {% csrf_token %}
                  <li>
                      <input type="hidden" name="next" value="{{ redirect_to }}">
                      <select onchange="this.form.submit()" name="language" id="">
                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}
                          {% for language in languages %}
                          <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.name_local }}
                          </option>
                          {% endfor %}
                      </select>
                  </li>
                  <li>&nbsp;</li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'logout'%}?next={{request.path}}" class="button">{% trans "Sign out" %} ({{ user.get_username }})</a></li>
                  {% endif %}
              </ul>
          </form>
      </div>
  </div>

  <br>
  <div class="grid-container fluid">
      {% block content %}
  </div>
  {% endblock %}
  <script src="{% static 'foundation-6.5.1-custom/js/app.js' %}"></script>
</body>
</html>
