{% extends "device/wrapper.html" %}

{% block content %}

<p><a href="/store/all/">Отобразить полный список (включая возвращённые)</a></p>

<h4>Инвентарь</h4>

<br>

<div class="grid-x">
  <div class="cell small-6">
      <form action="/store/search/" method="GET">
          <div class="input-group input-group-rounded">
              <input class="input-group-field" type="search" placeholder="Наименование" name="q" value="{{ q }}">
              <div class="input-group-button">
                  <input type="submit" class="button small" value="Найти">
              </div>
          </div>
      </form>
  </div>
    <div class="cell small-6" align="right">
        <a href="/store/create/" class="button small rounded">Создать</a>
    </div>
</div>

<table class="hover">
    <thead>
    <tr>
        <td>Наименование:</td>
        <td>Где лежит:</td>
        <td>Комментарий:</td>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td onclick="window.location.href='/store/item/{{ item.id }}/'; return false">{{ item.name }}</td>
        <td onclick="window.location.href='/store/item/{{ item.id }}/'; return false">{{ item.location }}</td>
        <td onclick="window.location.href='/store/item/{{ item.id }}/'; return false">{{ item.comment }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="grid-x">
    <div class="cell small-6">
        <p>Найдено: {{ items_count }}</p>
    </div>
    <div class="cell small-6" align="right">
        <ul class="pagination" role="navigation" aria-label="Page navigation">
            {% if items.has_previous %}
                <li class="pagination-previous"><a href="/store/search/{{ items.previous_page_number }}/?q={{ q }}">Назад <span class="show-for-sr">page</span></a></li>
            {% else %}
                <li class="pagination-previous disabled">Назад <span class="show-for-sr">page</span></li>
            {% endif %}
            {% for page in items.paginator.page_range %}
            {% if page == items.number %}
                <li class="current">{{ page }}</li>
            {% else %}
                <li><a href="/store/search/{{ page }}/?q={{ q }}" aria-label="Page {{ page }}">{{ page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if items.has_next %}
            <li class="pagination-next"><a href="/store/search/{{ items.next_page_number }}/?q={{ q }}" aria-label="Next page">Вперёд <span class="show-for-sr">page</span></a></li>
            {% else %}
            <li class="pagination-next disabled">Вперёд <span class="show-for-sr">page</span></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
