{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'protocol_details' pk=protocol_id tab_id=1 %}" class="exit-off-canvas">&laquo; {% trans "Back" %}</a></p>

<div class="card" style="width: 800px;">
  <div class="card-divider">
    <h5>Наследование результатов тестирования</h5>
  </div>
  <div class="card-section">
    <p>Выберите протокол испытаний из которого будут наследованы результаты тестов:</p>

      <form method="post" action="">
          {% csrf_token %}
          <input type='hidden' id='dst_protocol' name='dst_protocol' value='{{ protocol_id }}'>
          <select name="src_protocol">
              {% for protocol in protocols %}
              <option value="{{ protocol.id }}">Протокол от {{ protocol.date_of_finish }} (версия ПО: {{ protocol.sw }})</option>
              {% endfor %}
          </select>
          <input type="submit" value="YARRR!!!" class="button small rounded" />
      </form>

  </div>
</div>

{% endblock %}