{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'protocols' %}">{% trans "Protocols" %}</a> &raquo; {{ protocol.device.vendor }} {{ protocol.device.model }}
    {% if protocol.device.hw %}({{ protocol.device.hw }}){% endif %}
</p>

<ul class="tabs" data-tabs id="protocol-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="test_results" href="#test_results">{% trans "Results" %}
            ({{ tests_completed }}/{{ tests_all }})
        </a>
    </li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="statistics" href="#statistics">{% trans "Statistics" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">Docx</a>
    </li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">Redmine</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="protocol-tabs">

    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'protocol_update' pk=protocol.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'protocol_delete' pk=protocol.id %}" class="button alert small">{% trans "Delete" %}</a>

        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <table class="unstriped">
                            <tr>
                                <td>ID:</td>
                                <td>{{ protocol.id }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Testplan" %}:</td>
                                <td><a href="{% url 'testplan_details' pk=protocol.testplan.id tab_id=2 %}">
                                    {% trans "Testplan" %} {{ protocol.testplan }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Device" %}:</td>
                                <td><a href="{% url 'device_details' pk=protocol.device.id tab_id=1 %}">
                                    {{ protocol.device.vendor }} {{ protocol.device.model }}
                                    {% if protocol.device.hw %}({{ protocol.device.hw }}){% endif %}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans "Software Version" %}:</td>
                                <td>{{ protocol.sw }}</td>
                            </tr>
                            {% if protocol.sw_checksum %}
                            <tr>
                                <td>{% trans "Checksum" %}:</td>
                                <td>{{ protocol.sw_checksum }}</td>
                            </tr>
                            {% endif %}
                            {% if protocol.engineer_login %}
                            <tr>
                                <td>{% trans "Engineer Login" %}:</td>
                                <td>{{ protocol.engineer_login }}</td>
                            </tr>
                            {% endif %}
                            {% if protocol.engineer_password %}
                            <tr>
                                <td>{% trans "Engineer Password" %}:</td>
                                <td>{{ protocol.engineer_password }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>{% trans "Started" %}:</td>
                                <td>{{ protocol.date_of_start }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Completed" %}:</td>
                                <td>{{ protocol.date_of_finish }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Created" %}:</td>
                                <td>{{ protocol.created_at }} {% if protocol.created_by %}({{ protocol.created_by }}){% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Last Update" %}:</td>
                                <td>{{ protocol.updated_at }} {% if protocol.updated_by %}({{ protocol.updated_by }}){% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Result" %}:</td>
                                <td>
                                    {% if protocol.result == 0 %}
                                    <span class="label" style="width:125px; text-align: center; background-color: gray; color: white">{% trans "Testing" %}</span>
                                    {% endif %}
                                    {% if protocol.result == 1 %}
                                    <span class="label alert" style="width:125px; text-align: center">{% trans "Not recommended" %}</span>
                                    {% endif %}
                                    {% if protocol.result == 2 %}
                                    <span class="label warning" style="width:125px; text-align: center">{% trans "Limited" %}</span>
                                    {% endif %}
                                    {% if protocol.result == 3 %}
                                    <span class="label success" style="width:125px; text-align: center; background-color: green; color: white">{% trans "Recommended" %}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>

                        {% if protocol.sysinfo %}
                        <div class="cell">
                            <div class="card">
                                <div class="card-section">
                                    <h5>{% trans "System Information" %}</h5>
                                    <p><pre><code>{{ protocol.sysinfo|safe }}</code></pre></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if protocol.console %}
                        <div class="cell">
                            <div class="card">
                                <div class="card-section">
                                    <h5>{% trans "Console port parameters" %}</h5>
                                    <p>{{ protocol.console|safe }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Copy results from another protocol" %}</h5>
                    <form action="{% url 'protocol_copy_results' %}" method="post">
                        {% csrf_token %}
                        {{ copy_test_results_form }}
                        <input type="submit" value='{% trans "Copy" %}' class="button small success" />
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="test_results">
        <table id="results" class="unstriped hover" style="width:100%;">
        <thead>
            <tr style="background-color: #E8E8E8">
                <th>ID</th>
                <th width="110px">{% trans "Results" %}</th>
                <th>{% trans "Tests" %}</th>
                <th>{% trans "Category" %}</th>
                <th width="45%">{% trans "Comments" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for result, num in zipped_results %}
        <tr data-href="{% url 'result_details' pk=result.id tab_id=4 %}">
            <td>{{ forloop.counter }}</td>
            <td>
                {% if result.result == 0 %}
                <span class="label" style="width:100px; text-align: center; background-color: gray; color: white">{% trans "Not tested" %}</span>
                {% endif %}
                {% if result.result == 1 %}
                <span class="label alert" style="width:100px; text-align: center">{% trans "Failed" %}</span>
                {% endif %}
                {% if result.result == 2 %}
                <span class="label warning" style="width:100px; text-align: center">{% trans "Warning" %}</span>
                {% endif %}
                {% if result.result == 3 %}
                <span class="label success" style="width:100px; text-align: center; background-color: green; color: white">{% trans "Success" %}</span>
                {% endif %}
            </td>
            <td><i>{{ num }}. {{ result.test.name }}</i></td>
            <td>{{ result.test.category }}</td>
            <td>{{ result.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="statistics">
        <div class="cell small-6">
            <div id="donutchart"></div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="docx">
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Build protocol" %}</h5>
                    <form action="{% url 'build_protocol' %}" method="post">
                        {% csrf_token %}
                        {{ build_protocol_form }}
                        <input type="submit" value='{% trans "Build" %}' class="button small success" />
                    </form>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Build detailed protocol" %}</h5>
                    <form action="{% url 'build_protocol_detailed' %}" method="post">
                        {% csrf_token %}
                        {{ build_protocol_detailed_form }}
                        <input type="submit" value='{% trans "Build" %}' class="button small success" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel{% if tab_id == 5 %} is-active{% endif %}" id="redmine">
        {% if protocol.device.redmine_project %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Redmine Project Wiki</h5>
                        <p>
                            <a href="{{ redmine_url }}/projects/{{ protocol.device.redmine_project }}/wiki/protocol_{{ protocol.id }}/">
                                {{ redmine_url }}/projects/{{ protocol.device.redmine_project }}/wiki/protocol_{{ protocol.id }}/
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>{% trans "Export to" %} Redmine</h5>
                        <form action="{% url 'redmine_protocol_export' %}" method="post">
                            {% csrf_token %}
                            {{ export_form.as_p }}
                            <input type="submit" value='{% trans "Export" %}' class="button small success" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Results', 'Percents'],
        ['Пройдено',     {{ tests_success }}],
        ['Пройдено с замечанием',      {{ tests_warn }}],
        ['Не пройдено',  {{ tests_fail }}],
		['Не тестировалось',  {{ tests_left }}],
      ]);

      var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

      chart.draw(data, {
		title: 'Протестировано {{ tests_completed }} ({{ tests_completed_percent }}%) из {{ tests_all }}. Осталось: {{ tests_left }}',
		width: 900,
		height: 500,
		pieHole: 0.4,
		colors: ['green', 'orange', 'red', 'gray'],
	  });
    }
</script>

<script>
$(document).ready(function() {
    var groupColumn = 3;
    var table = $('#results').DataTable({
        "columnDefs": [
            { "visible": false, "targets": groupColumn },
            { "visible": false, "targets": [ 0 ] },
        ],
        "order": [[ 0, 'asc' ]],
        "displayLength": 100,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group" style="background-color: #F5F5F5; font-weight: bold"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );

    // Order by the grouping
    $('#results tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
            table.order( [ groupColumn, 'desc' ] ).draw();
        }
        else {
            table.order( [ groupColumn, 'asc' ] ).draw();
        }
    } );
} );

document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            window.location.href = row.dataset.href;
        });
    });
});
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
