{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<h4>{% trans "Protocols" %}</h4>

<a href="{% url 'protocol_create' %}" class="button small">{% trans "Create" %}</a>
<a href="{% url 'protocol_import' %}" class="button small">{% trans "Import from Redmine" %}</a>

<table id="protocols" class="hover unstriped" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Device" %}</th>
        <th>{% trans "SW" %}</th>
        <th>{% trans "Started" %}</th>
        <th>{% trans "Completed" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for protocol in protocols %}
    <tr data-href="{% url 'protocol_details' pk=protocol.id tab_id=2 %}">
        <td>{{ protocol.id }}</td>
        <td>{{ protocol.device.vendor }} {{ protocol.device.model }}</td>
        <td>{{ protocol.sw }}</td>
        <td>{{ protocol.date_of_start }}</td>
        <td>{{ protocol.date_of_finish }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var table = $('#protocols').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,
        "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
