{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p>
    <a href="{% url 'testplan_pattern_details' pk=test_pattern.category_pattern.testplan_pattern.id tab_id=2 %}">{% trans "Testplan Patterns" %}
        {{ test_pattern.category_pattern.testplan_pattern.name }} ({{ test_pattern.category_pattern.testplan_pattern.version }})</a>
    <br>
    {{ test_pattern.category_pattern }} &raquo; {{ num.0 }}.{{ num.1 }} {{ test_pattern.name }}
</p>

<ul class="tabs" data-tabs id="test_pattern-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="types" href="#types">{% trans "Device Types" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="name" href="#name">{% trans "Name" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="purpose" href="#purpose">{% trans "Purpose" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="procedure" href="#procedure">{% trans "Procedure" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 6 %} is-active{% endif %}">
        <a data-tabs-target="expected" href="#expected">{% trans "Expected result" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 7 %} is-active{% endif %}">
        <a data-tabs-target="images" href="#images">{% trans "Images" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 8 %} is-active{% endif %}">
        <a data-tabs-target="configs" href="#configs">{% trans "Configs" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 9 %} is-active{% endif %}">
        <a data-tabs-target="links" href="#links">{% trans "Links" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 10 %} is-active{% endif %}">
        <a data-tabs-target="comments" href="#comments">{% trans "Comments" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 11 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">Redmine</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="test_pattern-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'test_pattern_update' pk=test_pattern.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'test_pattern_delete' pk=test_pattern.id %}" class="button alert small">{% trans "Delete" %}</a>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <table class="unstriped">
                            <tr>
                                <td>ID:</td>
                                <td>{{ test_pattern.id }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Name" %}:</td>
                                <td>{{ test_pattern }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Category" %}:</td>
                                <td>{{ test_pattern.category_pattern }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Redmine Wiki" %}:</td>
                                <td>{% if test_pattern.redmine_wiki %}{{ test_pattern.redmine_wiki }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Created" %}:</td>
                                <td>{{ test_pattern.created_at }} {% if test_pattern.created_by %}({{ test_pattern.created_by }}){% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Last Update" %}:</td>
                                <td>{{ test_pattern.updated_at }} {% if test_pattern.updated_by %}({{ test_pattern.updated_by }}){% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="types">
    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="name">
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Name" %}</h5>
                    <p>{{ test_pattern.name }}</p>
                    <a href="{# url 'test_update' pk=test.id #}" class="button small">{% trans "Update all" %}</a>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Dependencies" %} ({{ subs|length }})</h5>
                    <ul>
                    {% for sub in subs %}
                        <li><a href="{% url 'test_details' pk=sub.id tab_id=1%}">{{ sub.id }} / {% trans "Testplan" %} {{ sub.testplan }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="purpose">
    </div>

    <div class="tabs-panel {% if tab_id == 5 %}is-active{% endif %}" id="procedure">
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h4>{% trans "Procedure" %}</h4>
                    <p>{{ procedure|safe }}</p>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h4>{% trans "Expected result" %}</h4>
                    <p>{{ expected|safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 6 %}is-active{% endif %}" id="expected">
    </div>

    <div class="tabs-panel {% if tab_id == 7 %}is-active{% endif %}" id="images">
    </div>

    <div class="tabs-panel {% if tab_id == 8 %}is-active{% endif %}" id="configs">
    </div>

    <div class="tabs-panel {% if tab_id == 9 %}is-active{% endif %}" id="links">
    </div>

    <div class="tabs-panel {% if tab_id == 10 %}is-active{% endif %}" id="comments">
    </div>

    <div class="tabs-panel {% if tab_id == 11 %}is-active{% endif %}" id="redmine">
    </div>

</div>

{% endblock %}
