{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<h4>{% trans "Contacts" %}</h4>

<a href="{% url 'contact_create' %}" class="button small">{% trans "Create" %}</a>

<table id="contacts" class="hover unstriped" style="width:100%">
    <thead>
    <tr>
        <th>{% trans "Full Name" %}</th>
        <th>{% trans "Company" %}</th>
        <th>{% trans "E-mail" %}</th>
        <th>{% trans "Phone" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
    <tr data-href="{% url 'contact_update' pk=contact.id %}">
        <td>{{ contact }}
            {% if contact.position %}
            <br>
            <span style="color: #7700ff; font-style: italic">{{ contact.position }}</span>
            {% endif %}
        </td>
        <td>{% if contact.vendor %}{{ contact.vendor }}{% endif %}</td>
        <td>{% if contact.email %}{{ contact.email }}{% endif %}</td>
        <td>{% if contact.phone %}{{ contact.phone }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var table = $('#contacts').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,
        "order": [[ 0, "asc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
