{% extends "device/wrapper.html" %}

{% block content %}

<h4>Шаблоны</h4>

<br>

<a href="/docx/template/create/" class="button small rounded">Создать</a>

<table class="hover">
    <thead>
    <tr>
        <td>ID:</td>
        <td>Имя шаблона:</td>
        <td>Расположение:</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for docx_template in docx_templates %}
    <tr>
        <td onclick="window.location.href='template/edit/{{ docx_template.id }}/'; return false">{{ docx_template.id }}</td>
        <td onclick="window.location.href='template/edit/{{ docx_template.id }}/'; return false">{{ docx_template.title }}</td>
        <td onclick="window.location.href='template/edit/{{ docx_template.id }}/'; return false">{{ docx_template.upload }}</td>
        <td><a href="template/delete/{{ docx_template.id }}/" class="alert button small rounded">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>

{% endblock %}