{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' %}">{% trans "Testplans" %}</a> &raquo; {{ testplan.name }} ({{ testplan.version }})</p>

<ul class="tabs" data-tabs id="testplan-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="tests" href="#tests">{% trans "Tests" %}
        {% if tests_count > 0 %}({{ tests_count }}){% endif %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">Docx</a>
    </li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">Redmine</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="testplan-tabs">

    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'testplan_update' pk=testplan.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'testplan_clone' pk=testplan.id %}" class="button small">{% trans "Clone" %}</a>
        <a href="{% url 'testplan_delete' pk=testplan.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="unstriped">
            <tr>
                <td>{% trans "Name" %}:</td>
                <td>{{ testplan.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Version" %}:</td>
                <td>{{ testplan.version }}</td>
            </tr>
        </table>

    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="tests">
        <a href="{% url 'test_create' tp_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
        <a href="{% url 'clear_tests' tp_id=testplan.id %}" class="button small alert">{% trans "Clear" %}</a>

        <table id="tests_table" class="hover unstriped" style="width:100%">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Category" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for test, num in tests %}
            <tr data-href="{% url 'test_details' pk=test.id tab_id=1 %}">
                <td>{{ num }}</td>
                <td>{{ test.name }}</td>
                <td>{{ test.category }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="docx">
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Build testplan" %}</h5>
                    <form action="{% url 'build_testplan' %}" method="post">
                        {% csrf_token %}
                        {{ build_testplan_form }}
                        <input type="submit" value='{% trans "Build" %}' class="button small success" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="redmine">
        <a href="{% url 'testplan_import' testplan_id=testplan.id %}" class="button small">{% trans "Import Tests" %}</a>
    </div>

</div>

<script>
    $(document).ready(function() {
        var table = $('#tests_table').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,

        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
