{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p>{% trans "Testplans" %} {{ testplan.name }} ({{ testplan.version }})</p>

<ul class="tabs" data-tabs id="testplan-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="tests" href="#tests">{% trans "Tests" %}
        {% if tests_count > 0 %}({{ tests_count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">Docx</a>
    </li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">Redmine</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="testplan-tabs">

    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'testplan_update' pk=testplan.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'testplan_clone' pk=testplan.id %}" class="button small">{% trans "Clone" %}</a>
        <a href="{% url 'testplan_delete' pk=testplan.id %}" class="button alert small">{% trans "Delete" %}</a>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <table class="unstriped">
                            <tr>
                                <td>ID:</td>
                                <td>{{ testplan.id }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Name" %}:</td>
                                <td>{{ testplan.name }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Testplan parent" %}:</td>
                                <td>{% if testplan.parent %}{{ testplan.parent }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Version" %}:</td>
                                <td>{{ testplan.version }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Redmine Project" %}:</td>
                                <td>{% if testplan.redmine_project %}{{ testplan.redmine_project }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Redmine Project Name" %}:</td>
                                <td>{% if testplan.redmine_project_name %}{{ testplan.redmine_project_name }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Redmine Project Description" %}:</td>
                                <td>{% if testplan.redmine_project_desc %}{{ testplan.redmine_project_desc }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Redmine Parent Project" %}:</td>
                                <td>{% if testplan.redmine_parent %}{{ testplan.redmine_parent }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Created" %}:</td>
                                <td>{{ testplan.created_at }} {% if testplan.created_by %}({{ testplan.created_by }}){% endif %}</td>
                            </tr>
                            <tr>
                                <td>{% trans "Last Update" %}:</td>
                                <td>{{ testplan.updated_at }} {% if testplan.updated_by %}({{ testplan.updated_by }}){% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

         <div class="cell">
             <div class="card">
                 <div class="card-section">
                     <h5>{% trans "Protocols" %}</h5>
                     <ul>
                         {% for protocol in protocols %}
                         <li><a href="{% url 'protocol_details' pk=protocol.id tab_id=2 %}">{{ protocol.id }} / {{ protocol.device }} / {{ protocol.firmware }}</a></li>
                         {% endfor %}
                     </ul>
                 </div>
             </div>
         </div>

    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="tests">
        <a href="{% url 'category_create' testplan_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
        <a href="{% url 'clear_tests' pk=testplan.id %}" class="button small alert">{% trans "Clear" %}</a>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        {% for category in testplan.testplan_category.all|dictsort:"priority" %}
                        <ul style="list-style: none">
                            <li>
                                <a href="{% url 'category_details' pk=category.id tab_id=1 %}"
                                   style="font-weight: bold; color: black; padding: 10px;"
                                   onmouseover="this.style.color='red';"
                                   onmouseout="this.style.color='black';">
                                    {{ forloop.counter }}. {{ category.name }}
                                </a>
                                {% if forloop.counter != 1 %}
                                <a href="{% url 'category_up' pk=category.id %}"><i class="step fi-arrow-up" style="color: #ff4f12"></i></a>
                                {% endif %}
                                {% if forloop.counter != testplan.testplan_category.all.count %}
                                <a href="{% url 'category_down' pk=category.id %}"><i class="step fi-arrow-down" style="color: #ff4f12"></i></a>
                                {% endif %}
                                {% if category.parent %}<i class="step fi-share"></i>{% endif %}

                                {% for test in category.cat_test.all|dictsort:"priority" %}
                                <ul style="list-style: none">
                                    <li>
                                        <a href="{% url 'test_details' pk=test.id tab_id=2 %}">
                                            {{ forloop.parentloop.counter}}.{{ forloop.counter }}. {{ test.name }}
                                        </a>
                                        {% if forloop.counter != 1 %}
                                        <a href="{% url 'test_up' pk=test.id %}"><i class="step fi-arrow-up" style="color: #ff4f12"></i></a>
                                        {% endif %}
                                        {% if forloop.counter != category.cat_test.all.count %}
                                        <a href="{% url 'test_down' pk=test.id %}"><i class="step fi-arrow-down" style="color: #ff4f12"></i></a>
                                        {% endif %}
                                        {% if test.parent %}<i class="step fi-share"></i>{% endif %}
                                    </li>
                                </ul>
                                {% endfor %}
                                <blockquote>
                                    <a href="{% url 'test_create' category_id=category.id %}"><i class="step fi-plus"></i></a>
                                </blockquote>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="docx">
        <div class="cell">
            <div class="card">
                <div class="card-section">
                    <h5>{% trans "Build testplan" %}</h5>
                    <form action="{% url 'build_testplan' %}" method="post">
                        <input type="submit" value='{% trans "Build" %}' class="button small success" />
                        <table class="unstriped" style="text-align: left">
                            {% csrf_token %}
                            {{ build_testplan_form.as_table }}
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="redmine">
        {% if testplan.redmine_project %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Redmine Project Wiki</h5>
                        <p>
                            <a href="{{ redmine_url }}/projects/{{ testplan.redmine_project }}/wiki/">
                                {{ redmine_url }}/projects/{{ testplan.redmine_project }}/wiki/
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>{% trans "Export to" %} Redmine</h5>
                        <form action="{% url 'redmine_testplan_export' %}" method="post">
                            <input type="submit" value='{% trans "Export" %}' class="button small success" />
                            <table class="unstriped" style="text-align: left; width: 600px;">
                            {% csrf_token %}
                            {{ export_form.as_table }}
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
