{% extends "device/wrapper.html" %}

{% block content %}

<h4>ПМИ</h4>

<br>

<a href="create/" class="button small rounded">Создать</a>

<table id="testplans" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название документа</th>
        <th>Кол-во тестов</th>
        <th>Редакция</th>
    </tr>
    </thead>
    <tbody>
    {% for testplan, num in testplans %}
    <tr>
        <td>{{ testplan.id }}</td>
        <td>ПМИ {{ testplan.name }}</td>
        <td>{{ num }}</td>
        <td>{{ testplan.version }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>

<script>
  $(document).ready(function() {
      var table = $('#testplans').DataTable( {
          "pageLength": 100,
          "order": [[ 0, "desc" ]]
      } );

      $('#testplans tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
                  window.open(data[0]+"/","_self");
      } );
  } );
</script>

{% endblock %}
